.post {
    background-color: white;
    max-width: 500px;
    /* min-width: 400px; */
    border: 1px solid lightgray;
    margin-bottom: 15px;
    /* you can change to 700px */
}

.post__image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post__text {
    font-weight: normal;
    padding: 20px;
  }
  
.post__header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.post__avatar {
    margin-right: 10px;
}

.post__commentBox {
    display: flex;
    margin-top: 10px;
}

.post__input {
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray
}

.post__button {
    flex: 0;
    padding: 10px;
    border-top: 1px solid lightgray;
    background-color: transparent;
    border-top: 1px solid lightgray;
    color: #6082a3;
}

.post__comments {
    padding: 20px;
}

.post__comment__user {
    color: rgb(38, 38, 38);
    font-size: 14px;
    font-weight: 600;
    gab: normal;
    line-height: 18px;
    margin:  0px 0px 0px -5px;
    padding: 0px 0px 0px 5px;
}

.post__comment__text {
    color: rgb(38, 38, 38);
    font-size: 14px;
    gab: normal;
    line-height: 18px;
}

.post__comments {
    border-top: 1px solid lightgray;
}
